.container {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.block-1 {
    background-color: slateblue;
}

.block-1,.block-2,.block-3,.block-4{
    padding: 1vh 61.85vh 10vh;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    color: thistle;
}

.header-logo {
    color:wheat;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style:none;
    display: flex;
    gap: 18px;
}

.awesome-block {
    display: flex;
    justify-content: space-between;
}

.awesome{
    flex-basis: 50%;
    width: 500px;
}

h1,h2 {
    margin: 0px;
    padding: 0px;
}

.awesome-header {
    font-size: 27px;
    font-weight:800;
    margin-bottom: 10px;
    color: wheat;
}

.awesome-text {
    font-size: 18px;
    margin-bottom: 10px;
    color: thistle;
}

.awesome-button {
    background-color: blueviolet;
    display: flex;
    width: 140px;
    border-radius: 4px;
    height: 25px;
    align-items: center;
    justify-content: center;
    color: cornsilk;
    font-weight: 700;
}

.awesome-image img {
    height: 225px;
    border: yellow 3px solid;
}

/* The above is block-1 and below is block-2 */

.bad-matchups {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 60px;
    font-family: Arial;
    font-size: 22px;
}

.portrait-1,.portrait-2,.portrait-3,.portrait-4 {
    width: 160px;
    height: 210px;
    display: flex;
    flex-flow: wrap;    
}

.portrait-1 img, 
.portrait-2 img, 
.portrait-3 img, 
.portrait-4 img {
    height:140px;
    width: 160px;
    border: #3882F6 3px solid;
    border-radius: 10px;
    margin-bottom: 15px;
}

.portraits {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color:rgb(97, 106, 118);
    font-size: 25px;
}

/* The above is block-2 and below is block-3 */

.block-3 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    height: 26vh;
}

.full-quote {
    display: flex;
    flex-flow: column;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #2d3744;
}

.credit {
    font-weight: bolder;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    margin-right: 54px;
    margin-top: 10px;
}

/* The above is block-3 and below is block-4 */

